body {
    /*border-color: var(--border-color);*/
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    scrollbar-color: var(--scrollbar-color);
}

#gametable td {
    width: 1.5em;
    height: 1.5em;

    background-color: var(--cell-background-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    color: var(--cell-color);
    text-align: center;
}

#gametable td.revealed {
    background-color: var(--cell-revealed-background-color);
}


#gametable td.flag {
    background-image: url("../images/flag.png");
}

#gametable td.flag {
    background-image: url("../images/flag.png");
}


/* Debugging only */
#gametable.debugMode td.mine {
    background-color: blue;
}


#gametable.revealed td.flag:not(.mine) {
    background-color: var(--false-flag-background-color);
}

#gametable.revealed td.mine:not(.flag) {
    background-image: url("../images/mine.png");
}

#gametable.revealed td.mine.revealed {
    background-color: var(--mine-background-color);
}
